{% extends 'main/base.html' %}


{% block title %}
Добавить задачу
{% endblock %}


{% block content %}
    <h1 class="text-center">Добавить задачу</h1>
    <hr>
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <h3>Название задачи</h3>
            {{ form.title }}
        </div>
        <br>
        <div class="container">
            <h3>Описание задачи</h3>
            {{ form.task }}
        </div>
        <br>
        <div class="container">
            <h3>Категория задачи</h3>
            {{ form.category }}
        </div>
        <br>
        <div class="container">
            <button type="submit" class="btn btn-lg btn-success">Добавить</button>
        </div>
        <span>{{ error }}</span>
    </form>
{% endblock %}