{% extends 'main/base.html' %}


{% block title %}
Главная страница
{% endblock %}


{% block content %}
    <div class="container text-center px-4 py-3"><h1 class="pb-2 px-4 border-bottom">Задачи</h1></div>
    <br>
    {% if tasks %}
    {% for task in tasks %}
    <div class="container px-4" id="hanging-icons">
        <div class="row g-4 px-4 py-3 row-cols-1 row-cols-lg-1">
            <div class="col d-flex align-items-start">
                <div>
                    <h3 class="fs-2 px-4">{{ task.title }}</h3>
                    <h6>Категория: {{ task.category }}</h6>
                    <p>{{ task.task }}</p>
                    <a href="{% url 'Task detail' task.pk %}" class="btn btn-primary">
                        Подробнее
                    </a>
                </div>
          </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>Активных задач нет</p>
    {% endif %}
{% endblock %}